<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bookshelf</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body class="bookshelf-page">
  <!-- Network graph container -->
  <div id="bookshelf-network"></div>
  
  <!-- Book details overlay (shown when book clicked) -->
  <div id="book-details" class="book-details hidden">
    <div class="book-details-content">
      <img id="book-cover-detail" class="book-cover-detail" src="" alt="Book cover">
      <h2 id="book-title"></h2>
      <p id="book-author" class="book-author"></p>
      <p id="book-date" class="book-date"></p>
    </div>
    <button id="close-details" class="close-details">✕</button>
  </div>

  <script src="/js/main.js"></script>
  <script src="/js/bookshelf.js"></script>
</body>
</html>
