<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>corner</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="corner-page">
  <a href="/" class="corner-btn-left" aria-label="Back to Diary"></a>
  <a href="/bookshelf" class="bookshelf-text">show me your bookshelf and I know who you are...</a>
  
  <div class="corner-gallery">
    <div class="corner-image-stack" id="corner-image-stack">
      <!-- Images will be loaded dynamically -->
    </div>
  </div>
  
  <script src="/js/main.js"></script>
  <script src="/js/corner.js"></script>
</body>
</html>
